@tailwind base;
@tailwind components;
@tailwind utilities;

/* Основные переменные */
:root {
  --background: #000000; /* Чёрный фон */
  --foreground: #00ff00; /* Зелёный текст в стиле "матрицы" */
  --link-color: #00ff00;
  --link-hover-color: #33ff33;
  --header-background: #000000;
  --footer-background: #000000;
  --padding: 10px 20px;
  --font-family: 'Courier New', Courier, monospace; /* Техностиль */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #00ff00;
    --link-color: #00ff00;
    --link-hover-color: #33ff33;
    --header-background: #000000;
    --footer-background: #000000;
  }
}

/* Основной стиль */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ссылки */
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* Header (меню) */
header {
  padding: var(--padding);
  background-color: var(--header-background);
  display: flex;
  justify-content: flex-end; /* Меню справа */
  align-items: center;
}

nav a {
  margin-left: 20px;
}

/* Footer */
footer {
  padding: var(--padding);
  text-align: center;
  background-color: var(--background); /* Используем общий чёрный фон */
  color: var(--foreground); /* Зелёный текст */
  margin-top: 50px;
  border-top: 1px solid var(--foreground); /* Линия разделения футера */
}

html, body {
  scroll-behavior: auto; /* Убираем возможное торможение из-за анимации прокрутки */
}
